<link rel="stylesheet" href="/css/firstCSS.css" type="type/css">

<head>





    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            font-family: 'Roboto', sans-serif;
        }

        .wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            height: 200px;
            padding: 0 20px;
            margin-left: 290px;
            margin-bottom: 200px;


        }

        .item-form {
            max-width: 550px;
            margin: 0 auto;
            background-color: rgb(244, 182, 66);
            padding: 30px;
            border-radius: 5px;
            display: flex;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);


        }

        .input-fields {
            display: flex;
            flex-direction: column;
            margin-right: 4%;

        }

        .input-fields,
        .descr {
            width: 48%;

        }

        .input-fields .input,
        .descr textarea {
            margin: 10px 0;
            background: transparent;
            border: 0;
            border-bottom: 2px solid whitesmoke;
            padding: 10px;
            color: whitesmoke;
            width: 100%;
        }

        .descr textarea {
            height: 212px;

        }

        ::-webkit-input-placeholder {
            color white;
        }

        ::-moz-input-placeholder {
            color: white;
        }

        ::-ms-input-placeholder {
            color: white;
        }

        .btn {
            background: rgb(244, 182, 66);
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase;

        }

        @media screen and (max-width: 600px) {
            .item-form {
                flex: column;
            }

            .descr textarea {
                height: 80px;
            }

            .input-fields {
                width: 100%;
            }
        }
    </style>


</head>
<div class="wrapper">
    <div class="item-form">
        <form action="../form/sendForm" method="post" id="sendForm">
            <div class="input-fields">
                <p id='merchant' name='merchant'>{{user.name}}</p>
                <input type="text" class="input" id="itemName" name="itemName" value="{{itemName}}"
                    placeholder="Item Name" /required> <input type="text" class="input" id="price" name="price"
                    value="{{price}}" placeholder="Price">
                <input type="text" class="input" id="itemCode" name="itemCode" value="{{itemCode}}"
                    placeholder="Item Code" /required> <input type="text" class="input" id="quantity" name="quantity"
                    value="{{description}}" placeholder="Quantity" /required> <input type="text" class="input"
                    id="referenceNo" name="referenceNo" value="{{referenceNo}}"
                    placeholder="Reference Number" /required> <input id="datepicker" width="200" name="dateofDelivery"
                    value="{{dateofDelivery}}" /required> <div class="col-lg-3">
                {{!-- Practical 10 Exercise 01 --}}
                <input type="file" id="posterUpload" name="posterUpload"
                    accept="image/png, image/jpeg,image/jpg,image/gif">
                {{!—- Poster image --}}
                <img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid"
                    style="height:95%;width:100%">
                {{!—- Hidden field to submit URL of poster to the server --}}
                <input id="posterURL" type="hidden" name="posterURL">
                {{!-- Practical 10 Exercise 01 --}}
                <div class="font-weight-bold text-danger small" id="posterErr" style="display:none"></div>
            </div>
    </div>

</div>

<div class="descr">
    <textarea id="description" name="description" placeholder="Description" /required>{{description}} </textarea>
        {{!-- <button class='btn'><a href="/form/totheenvelope/{{id}}"> Add</a></button> --}}
			{{!-- <button class="btn"><a href ="/form/toOrder">Send</a></button> --}}
            <button class='btn'> Send</button>
		</div>
        </form>
	</div>
</div>


<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('en-SG'),
        uiLibrary: 'bootstrap4',
    });
    
}
</script>